@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
}
body {
    --title-color: hsl(0, 0%, 98%);
    --background-color: hsl(235, 21%, 11%);
    --header-image: url('images/bg-desktop-dark.jpg');
    --condition-icon: url('images/icon-sun.svg');
    --todo-list-color: hsl(234, 39%, 85%);
    --todo-list-color-faint: hsl(233, 14%, 35%);
    --todo-list-color-hover: hsl(236, 33%, 92%);
    --todo-list-container-color: hsl(235, 24%, 19%); 
    --linear-gradient: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    --line-color: hsl(234, 11%, 52%);
    --box-shadow-color: black;
    --mobile-header-image: url('images/bg-mobile-dark.jpg');

    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    background-color: var(--background-color);

    transition: 1500ms;
}
body.light {
    --background-color: hsl(0, 0%, 98%);
    --header-image: url('images/bg-desktop-light.jpg');
    --condition-icon: url('images/icon-moon.svg');
    --todo-list-color: hsl(236, 9%, 61%);
    --todo-list-color-faint: hsl(233, 11%, 84%);
    --todo-list-color-hover: hsl(235, 19%, 35%);
    --todo-list-color-cancel: hsl(236, 33%, 92%);
    --todo-list-container-color: hsl(0, 0%, 98%);
    --line-color: hsl(233, 11%, 84%); 
    --box-shadow-color: #ccc;
    --mobile-header-image: url('images/bg-mobile-light.jpg');
    
    transition: 1000ms;
}
.head-image {
    width: 100%;
    height: calc(100vh * 0.4);
    background-image: var(--header-image);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 1000ms;
}
.container {

    --width: 400px;
    --height: 400px;

    position: relative;
    width: var(--width);
    height: var(--height);
    top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.box {
    box-shadow: 0 0 10px var(--box-shadow-color);
    border-radius: 5px;
    transition: 1000ms;
    overflow: hidden;
}
/* title with toggle icon */
.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    margin-bottom: 25px;
}
.title {
    color: var(--title-color);
    text-transform: uppercase;
}
.toggle-image {
    width: 25px;
    height: 25px;
    background-image: var(--condition-icon);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 1000ms;
}
/* input */
.input-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    margin-bottom: 20px;
    background-color: var(--todo-list-container-color);
    border-radius: 5px;
    transition: 1000ms;
}
.circle {
    margin: 0 10px;
    width: 1.2em;
    height: 1.2em;
    border: 1px solid var(--todo-list-color-faint);
    border-radius: 50%;
}
.text-input {
    width: 85%;
    height: 100%;
    border: none;
    outline: none;
    background-color: inherit;
    color: var(--todo-list-color);
    font-size: 18px;
    border-radius: 5px;
}
.text-input::placeholder {
    color: var(--todo-list-color-faint);
}
/* todos */
.todo-lists {
    background-color: var(--todo-list-container-color);
    border-radius: 5px;
    transition: 1500ms;
}
.todo-container {
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--todo-list-container-color);
}
.todo {
    width: 100%;
    height: 60px;
    border-bottom: 0.5px solid var(--line-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--todo-list-color-hover);
    font-size: 18px;
}
.todo input[type='checkbox'] {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    margin-left: 14px;
}
.todo label {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.todo label::before,
.todo label::after {
    content: '';
    width: 1.2em;
    height: 1.2em;
}
.todo label::before {
    border: 1px solid var(--todo-list-color-faint);
    border-radius: 50%;
    margin-right: 10px;
    transition: box-shadow, border-color 200ms;
}
.todo label::after {
    position: absolute;
    right: 15px;
    transition: 200ms;
    color: var(--todo-list-color);
}
.todo input[type='checkbox']:hover + label::after {
    content:  url('images/icon-cross.svg');
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--todo-list-color);
}
.todo label:hover::before,
.todo input[type='checkbox']:hover + label::before {
    border-color: var(--linear-gradient);
}
.todo input[type='checkbox']:checked + label {
    color: var(--todo-list-color-faint);
    text-decoration: line-through;
}
.todo input[type='checkbox']:checked + label::before {
    content: url('images/icon-check.svg');
    background: var(--linear-gradient);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--todo-list-color-faint);
}
.todo input[type='checkbox']:focus + label::before {
    box-shadow: 0 0 5px var(--todo-list-color-hover);
}
.todo.dragging {
    opacity: 0.7;
    background-color: var(--todo-list-color-hover);
    color: var(--background-color);
}
.cancel-btn {
    outline: none;
    cursor: pointer;
    position: absolute;
    right: 12px;
    opacity: 0;
    width: 35px;
    height: 25px;
    pointer-events: all;
}
.cancel-btn:hover, .cancel-btn:focus {
    background: transparent;
    opacity: 1;
    border: none;
}
.todo-foot {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    color: var(--todo-list-color-faint);
    font-size: 15px;
    padding: 10px;
    background-color: var(--todo-list-container-color);
    border-radius: 0 0 5px 5px;
    transition: 1500ms;
}
.todo-foot .all, .todo-left.all {
    color: hsl(220, 98%, 61%);
}
.todo-foot .clear-btn {
    outline: none;
    border: none;
    background: none;
    color: var(--todo-list-color-faint);
    font-size: 15px;
    font-family: 'Josefin Sans', sans-serif;
    transition: color 200ms;
}
.active:hover, .active:focus,
.clear-btn:hover, .cancel-btn:focus {
    color: var(--todo-list-color-hover);
    cursor: pointer;
}
.drag-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: var(--todo-list-color-faint);
    font-size: 15px;
}
/* media query */
@media (max-width: 430px) {
    .container {
        width: calc(var(--width) * 0.9);
    }
    .title-container {
        margin-bottom: 70px;
        margin-top: -20px;
    }
    .todo {
        font-size: 15px;
    }
    .todo-foot {
        font-size: 12px;
    }
}
@media (max-width: 375px) {
    .head-image {
        background-image: var(--mobile-header-image);
    }
    .title {
        font-size: 25px;
    }
    .container {
        top: 10px;
        width: calc(var(--width) * 0.8);
    }
    .input-container {
        height: 50px;
    }
    .box {
        box-shadow: none;
    }
    .todo {
        font-size: 12px;
        height: 50px;
    }
    .todo-foot {
        margin-top: 5%;
        font-size: 11px;
        border-radius: 5px;
        box-shadow: 0 0 10px var(--box-shadow-color);
        height: 50px;
    }
    .todo-lists {
        border-radius: 10px;
        box-shadow: 0 0 10px var(--box-shadow-color);
    }
    .todo:last-of-type {
        border-bottom: none;
    }
}
@media (max-width: 320px) {
    .container {
        width: calc(var(--width) * 0.8);
    }
}
@media (max-width: 300px) {
    .container {
        width: calc(var(--width) * 0.6);
    }
    .input-container {
        height: 40px;
    }
    .todo-foot {
        height: 40px;
    }
    .todo {
        height: 40px;
    }
}